on:
  workflow_call:
    inputs:
      committerEmail:
        description: The email address to use for author of the release commit message
        default: <ghabot@users.noreply.github.com>
        required: false
        type: string
      committerName:
        description: The name to use for author of the release commit message
        default: GitHub Actions Bot
        required: false
        type: string
      includeLatestTag:
        description: Optionally also push a latest tag
        default: false
        type: boolean
    secrets:
      APP_ID:
        description: "The ID of the GitHub App with permission to bypass branch protection"
        required: true
      APP_PRIVATE_KEY:
        description: "The private key of the GitHub App with permission to bypass branch protection"
        required: true

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: "!endsWith(github.actor, '[bot]')"
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # ratchet:actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs['token'] }}

      - name: Configure committer
        run: |
          git config user.email "${{ inputs.committerEmail }}"
          git config user.name "${{ inputs.committerName }}"

      - name: Bump version
        uses: qzb/standard-version-action@a7d1f3c8e81f96976e1af5f6df576a55b4398d2b # ratchet:qzb/standard-version-action@v1.0.5

      - name: Push new tag and changelog
        run: git push --follow-tags origin main

      - name: Tag as latest
        if: ${{ inputs.includeLatestTag }}
        run: |-
          git tag -f latest
          git push -f origin latest
